.icon {
  min-width: 40px !important;
  top: 4px !important;
}
.tooltip {
  position: absolute;
  background-color: grey;
}
.remove {
  color: #bcc0c9 !important;
}
.navigation {
  background: transparent;
  border: 0;
  width: 80px;
  line-height: 67px;
  padding-top: 3px;
  font-size: 28px;
}
