.icon {
  min-width: 40px !important;
  top: 4px !important;
}
.tooltip {
  position: absolute;
  background-color: grey;
}
.remove {
  color: #bcc0c9 !important;
}
.navigation {
  background: transparent;
  border: 0
}
