.inactive {
  color: #797979;
}
.green {
  color: #8DCC93;
}
.successGreen {
  color: #8DCC93;
}
.orange {
  color: #F79868;
}
.blue {
  color: #58C8E3;
}
.purple {
  color: #DB7295;
}
.yellow {
  color: #FFE182;
}
.warningRed {
  color: #F16667;
}
.white {
  color: #ffffff;
}
.lightBlue {
  color: #5dade2
}
.credits
  @keyframes neo4j-pulse {
    0%, 100% {
      color: #1bf621;
    }
    50% {
      color: #00a3ff;
    }
  }
  animation: neo4j-pulse 2s infinite;
  animation-timing-function: ease-in-out;
