@import 'variables'

.admin
  .no-min-height
    min-height: initial !important
  [exec-topic]
    background-color: #F8F8F8
    border-radius: 3px
    border: 1px solid #DADADA
    display: inline-block
    font-family: mono-font-family
    font-size: 12px
    line-height: 18px
    margin-bottom: 5px
    margin-right: 5px
    padding: 0 4px
  a
    display: inline-block
    font-size: 17px
    line-height: 1em
    vertical-align: middle
    padding: 3px 6px 0 6px
  table
    margin-bottom: auto
    .span-all
      colspan: 100%
    th, tr, td
      height: 30px
      border: none
      vertical-align: middle
      label
        font-weight: normal
  .select
    display: inline-block

    select
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
      background: transparent
    .select-actions
      display: inline-block
      a
        margin: 0
        padding: 1px 5px 0 0

  .token
    background: #f5f5f5
    border: 1px solid #ddd
    a
      padding: 0 0 0 4px
      font-size: 13px
  .add-new-user
    .panel-heading
      a
        vertical-align: text-top
        margin-left: 12px
    .table
      margin-bottom: 0
