{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "preact-require",
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["babel-plugin-jsx-remove-data-test-id"]
    }
  }
}
