node_modules/
npm-debug.log
coverage/
.DS_Store
.vscode
/yarn-error.log
.idea/
/build
/bundle-report.html
/target
/e2e_tests/screenshots/
/e2e_tests/videos/
mvn/
dist/
NOTICE.xml
*.tgz
*.tar.gz
release-notes.md
/stats.json
signature.pem
HEAD
neo4j-enterprise-*/

./src/neo4j-arc/dist
./src/neo4j-arc/node_modules
