{
  "bracketSpacing": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "semi": false,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": ["*.ts", "**/*.ts"],
      "options": {
        "semi": true
      }
    }
  ]
}
