article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 User admin
        p.lead User management for administrators
      .details.col-sm-9
        p
          | The &nbsp;
          code :admin
          |  command lets administrators manage user access to Neo4j such as creating/deleting users, suspending/activating users, managing user roles and resetting passwords.
        table.table-condensed.table-help
          tr
            th Usage:
            td
              code :admin: &lt;action&gt;
          tr
            th Actions:
            td
              a(exec-topic="admin list") :admin list
              | &nbsp;
              a(exec-topic="admin add user") :admin add user

