article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Bolt
        p.lead Using Bolt in Neo4j Browser
      .details.col-sm-9
        p
          | By default, Neo4j Browser communicates with the database via Bolt using the Neo4j JavaScript Driver.
          | However it is possible to turn off Bolt and communicate with the database using HTTP(S) as in older versions of Neo4j Browser.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='{{ neo4j.version | neo4jDeveloperDoc }}/drivers') Drivers
              |  manual page, &nbsp;
          tr
            th Related:
            td
              a(help-topic='bolt-encryption') :help bolt encryption
              | &nbsp;
              a(help-topic='bolt-routing') :help bolt routing
