article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 CREATE CONSTRAINT ON
        p.lead Create a property constraint on a node label or relationship type
      .details.col-sm-9
        p
          | The&nbsp;
          code CREATE CONSTRAINT ON
          |  clause will create a property constraint on all nodes/relationships that have the specified label/type.
        p
          | The&nbsp;
          code IS UNIQUE
          |  property constraint will create an accompanying index.

        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='{{ neo4j.version | neo4jDeveloperDoc }}/cypher/#query-constraints') schema constraints
              |  manual page
          tr
            th Related:
            td
              a(help-topic='drop-constraint-on') :help DROP CONSTRAINT ON
              | &nbsp;
              a(help-topic='schema') :help Schema
              | &nbsp;
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.standalone-example.
            CREATE CONSTRAINT ON (p:Person)
            ASSERT p.name IS UNIQUE
          figcaption Create a unique property constraint on the label Person and property name.
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.standalone-example.
            CREATE CONSTRAINT ON (p:Person)
            ASSERT exists(p.name)
          figcaption Create a node property existence constraint on the label Person and property name.
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.standalone-example.
            CREATE CONSTRAINT ON ()-[l:LIKED]-()
            ASSERT exists(l.when)
          figcaption Create a relationship property existence constraint on the type LIKED and property when.
