article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 DROP CONSTRAINT ON
        p.lead Drops a property constraint on a node label or relationship type
      .details.col-sm-9
        p
          | The&nbsp;
          code DROP CONSTRAINT ON
          |  clause will delete a property constraint

        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='{{ neo4j.version | neo4jDeveloperDoc }}/cypher/#query-constraints') schema constraints
              |  manual page
          tr
            th Related:
            td
              a(help-topic='drop-constraint-on') :help CREATE CONSTRAINT ON
              | &nbsp;
              a(help-topic='schema') :help Schema
              | &nbsp;
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.standalone-example.
            DROP CONSTRAINT ON (p:Person)
            ASSERT p.name IS UNIQUE
          figcaption Drop the unique constraint and index on the label Person and property name.
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.standalone-example.
            DROP CONSTRAINT ON (p:Person)
            ASSERT exists(p.name)
          figcaption Drop the node property existence constraint on the label Person and property name.
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.standalone-example.
            DROP CONSTRAINT ON ()-[l:LIKED]-()
            ASSERT exists(l.when)
          figcaption Drop the relationship property existence constraint on the type LIKED and property when.
