article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Set a parameter
        p.lead Set a parameter to be sent with quries.
      .details.col-sm-9
        p The&nbsp;
          code :param name: 'Stella'
          |  command will define a parameter named "name" and it will be sent along with your queries.
          br
          | Using parameters, rather than hard coding values, will allow fo reuse 
          | of the query plan cahe.
        p Cypher query example with a param:&nbsp;
          code MATCH (n:Person) WHERE n.name = $name
        table.table-condensed.table-help
          tr
            th Related:
            td
              a(help-topic="params") :help params
