article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Parameters
        p.lead View and set parameters to be sent with quries.
      .details.col-sm-9
        p The&nbsp;
          code :params
          |  command will show you a list of all your current parameters.
          p The&nbsp;
            code :params {name: 'Stella', age: 24}
            |  command will replace your current parameters 
            | with the new parameters defined in the object.
        table.table-condensed.table-help
          tr
            th Related:
            td
              a(help-topic="param") :help param
