article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Query Status
        p.lead Show query status
      .details.col-sm-9
        p The&nbsp;
          code :qs
          | command will list your server or clusters running queries. 
          br
          | From that list you have the ability to kill unwanted queries.
