article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Schema
        p.lead Database schema indexes
      .details.col-sm-9
        p
          | Shows information about database schema indexes and constraints.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              a(href="{{ neo4j.version | neo4jDeveloperDoc }}/cypher/#cypher-schema") Cypher Schema
          tr
            th Related:
            td
              a(help-topic="create-index-on") :help CREATE INDEX ON
              | &nbsp;
              a(help-topic='drop-index-on') :help DROP INDEX ON
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.
            :schema
