article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 User admin
        p.lead User management for administrators
      .details.col-sm-9
        p
          | The &nbsp;
          code :server user
          |  commands allow you to manage user access to Neo4j such as creating/deleting users, suspending/activating users, managing user roles and resetting passwords.
        table.table-condensed.table-help
          tr
            th Usage:
            td
              code :server user &lt;action&gt;
          tr
            th Actions:
            td
              a(server-topic="user list") :server user list
              | &nbsp;
              a(server-topic="user add") :server user add
          tr
            th Notes:
            td
              span Only available in Neo4j Enterprise.
              br
              span Only available to users with the admin role.


