.sidebar {
  flex: 0;
  background-color: #4C4957;
  display: flex;
  flex-direction: row;
  border-right: 1px solid black;
  color: #fff;
}
.list {
  margin: 0;
  padding: 0 !important;
  span {
    color: #fff !important;
  }
  & :focus {
    
  }
}

.list:last-child {
  position: absolute;
  bottom: 0;
  > * {
    border-top: 1px solid #5d6370
  }
}
.list:first-child {
  > * {
    border-bottom: 1px solid #5d6370;
  }
}
.selected-item {
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }

  outline: none;
  background-color: #30333A;
}

.setting {
  label, input {
    color: #fff !important;
  }
}
