.frame {
  margin: 10px 10px 10px 10px;
  width: auto !important;
  background-color: #fff;
}

.framebody {
  height: 370px;
}

.contents {
  overflow: auto !important;
  height: 370px !important;
  padding: 0 20px 20px 20px;
  padding-top: 0 !important;
  flex: 0 1 auto;
}
