.frame-titlebar {
  flex: none;
  color: #ccc;
  border-bottom: 1px solid #ddd;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100% !important;
}
.frame-command {
  margin: 3px 5px 3px 5px;
  flex: 1 1 auto;
  min-width: 0;
}
.frame-titlebar-cmd {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 30px;
  cursor: pointer;
  display: block;
}
.frame-action-buttons {
  flex: 0 0 auto;
  line-height: 30px;
}
.frame-action-button {
  display: inline;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-left: 1px solid #ccc;
  text-align: center;
  line-height: 30px;
}
.frame-action-button:hover {
  color: #000
}
