.frame {
  margin: 10px 10px 10px 10px;
  width: auto !important;
  background-color: #fff;
}

.framebody {
  height: 370px;
}

.contents {
  overflow: auto !important;
  height: 370px !important;
  padding: 0 20px 20px 20px;
  padding-top: 0 !important;
  flex: 0 1 auto;
}

.fullscreen {
  position: absolute !important;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: #fff;
  z-index: 1030;
  .framebody, .contents {
    height: 100% !important;
  }
}
.collapse {
  visibility: hidden;
  height: 0;
}
