.frame {
  margin: 10px 10px 10px 10px;
  flex: 1;
  width: auto !important;
  background-color: #fff;
  height: 400px;
}

.contents {
  padding: 0 20px 20px 20px;
  flex: 0 1 auto;
  overflow: auto;
}
