.hero-unit.hero-top
  .row
    h4 Neo4j Sync
    p Connect to a database once, then let Neo4j Sync auto-connect next time.
  .row(style="margin-top: 10px")
    button.btn.btn-default(ng-click="CurrentUser.login()", style="display:block; margin: 0px auto") Sign In
  .row
    hr
    small.help-block What's this? 
      a(href="http://neo4j.com/neo4j-sync") Learn&nbsp;More
