.inner
  h4 Documentation
  h5 Introduction
  ul
    li
      a(play-topic='intro') Getting started
    li
      a(play-topic='graphs') Basic graph concepts
    li
      a(play-topic='cypher') Writing Cypher queries

  h5 Help
  ul
    li
      a(help-topic='help') Help
    li
      a(help-topic='cypher') Cypher syntax
    li
      a(help-topic='commands') Available commands
    li
      a(help-topic='keys') Keyboard shortcuts

  h5 Useful Resources
  ul.undecorated
    li
      a(href="{{ neo4j.version | neo4jDeveloperDoc }}/") Developer Manual
    li
      a(href="{{ neo4j.version | neo4jOperationsDoc }}/") Operations Manual
    li
      a(href="{{ neo4j.version | neo4jCypherRefcardDoc }}/") Cypher Refcard
    li
      a(href='https://neo4j.com/graphgists') GraphGists
    li
      a(href="neo4j.com/developer") Developer Site

