table.table.table-condensed
  tr
    th.col-sm-2 Username
    th.col-sm-4 Role(s)
    th.col-sm-2 Status
    th.col-sm-3 Password Change
    th.col-sm-1 Delete
    tr(ng-repeat="user in users")
      td {{user.username}}
      td
        div(ng-if="Features.canGetRoles", user-roles ng-model="user")
        div(ng-if="!Features.canGetRoles") N/A
      td
        div(ng-if="Features.canActivateUser")
          span(ng-bind-html="user.flags.indexOf('is_suspended') < 0 ? 'Activated' : 'Suspended'")
          span(ng-show="notCurrentUser(user.username)")
            a.sl.sl-hide(ng-show="user.flags.indexOf('is_suspended') < 0", ng-click='suspend(user.username)', tooltip="Suspend")
            a.sl.sl-show(ng-hide ="user.flags.indexOf('is_suspended') < 0", ng-click='activate(user.username)', tooltip="Activate")
        div(ng-if="!Features.canActivateUser") N/A
      td
        span(ng-if="Features.canChangePassword", ng-show="notCurrentUser(user.username)")
          a.fa.fa-key(ng-hide="user.shouldShowResetPassword || user.shouldShowConfirmation", ng-click='showResetPassword(user, true)', tooltip="Reset Password")
          .reset-password(ng-show="user.shouldShowResetPassword")
            input(ng-model="user.resetPasswordValue", type="password")
            a.sl.sl-arrow-circle-right(ng-click="showConfirmation(user)")
            a.sl.sl-delete-circle(ng-click="user.shouldShowResetPassword = false")
          .confirm-reset-password(ng-show="user.shouldShowConfirmation")
            input(type="text", value="Confirm password", ng-show="user.confirmationLabel", ng-focus="user.confirmationLabel = false")
            input(ng-show="!user.confirmationLabel", ng-model="user.resetPasswordConfirmationValue", type="password")
            a.sl.sl-arrow-circle-right(ng-click="resetPassword(user)")
            a.sl.sl-delete-circle(ng-click="user.shouldShowConfirmation = false")
        div(ng-if="!Features.canChangePassword") N/A
      td
        span(ng-show="notCurrentUser(user.username)")
          a.sl.sl-delete-circle(ng-hide="user.confirmDelete", ng-click='user.confirmDelete = true', tooltip="Delete")
          a.sl.sl-arrow-circle-right(ng-show="user.confirmDelete", ng-click='delete(user.username)', tooltip="Confirm Delete")
          a.sl.sl-delete-circle(ng-show="user.confirmDelete", ng-click="user.confirmDelete = false", tooltip="Cancel")
    tr
      td(colspan="5")
        a(exec-topic="server user add") Add new user
