table.table.table-condensed
  tr
    th.col-lg-2.col-md-2.col-sm-12 Username
    th.col-lg-4.col-md-4.col-sm-12 Role(s)
    th.col-lg-2.col-md-2.col-sm-12 Status
    th.col-lg-2.col-md-2.col-sm-12 Password Change
    th.col-lg-2.col-md-2.col-sm-12 Delete
    tr(ng-repeat="user in users")
      td {{user.username}}
      td
        .token.token-label(ng-repeat="role in user.roles")
          | {{ role }}
          a.sl.sl-minus-circle(ng-click="removeRoleFromUser(user, role)", tooltip="Remove")
        div(user-roles ng-model="user")
      td
        | {{user.flags.indexOf('is_suspended') < 0 ? 'Activated' : 'Suspended'}}
        a.btn.sl.sl-hide(ng-show="user.flags.indexOf('is_suspended') < 0", ng-click='suspend(user.username)', tooltip="Suspend")
        a.btn.sl.sl-show(ng-hide ="user.flags.indexOf('is_suspended') < 0", ng-click='activate(user.username)', tooltip="Activate")

      td
        span(ng-show="notCurrentUser(user.username)")
          a.btn.fa.fa-key(ng-hide="user.shouldShowResetPassword", ng-click='showResetPassword(user, true)', tooltip="Reset Password")
          .reset-password.col-lg-12(ng-show="user.shouldShowResetPassword")
            input.col-lg-8(ng-model="user.resetPasswordValue", type="password")
            a.col-lg-2.btn.sl.sl-arrow-circle-right(ng-click="resetPassword(user.username, user.resetPasswordValue)")
            a.col-lg-2.btn.sl.sl-delete-circle(ng-click="user.shouldShowResetPassword = false")
      td
        span(ng-show="notCurrentUser(user.username)")
          a.btn.sl.sl-delete-circle(ng-click='delete(user.username)', tooltip="Delete")