.add-new-user
  .panel.panel-default
    .panel-heading
      h4 New user
      a.sl.sl-add-circle(ng-hide="isAddingNewUser", ng-click="showNewUser()")
    table.table.table-condensed(ng-show="isAddingNewUser")
      tr
        th Username
        th Password
        th Require password change on first login
      tr
        td
          input(ng-model="newUser.username", type="text")
        td
          input(ng-model="newUser.password", type="password")
        td
          input(ng-model="newUser.requirePasswordChange", type="checkbox")
    div(ng-show="isAddingNewUser")
      a.btn.sl.sl-add-circle(ng-click="addNewUser()", tooltip="Save")
      a.btn.sl.sl-delete-circle(ng-click="hideNewUser()", tooltip="Cancel")