#nav
  ul.nav.list-group
    //- li.nav-header(ng-class='{active: showingDrawer("database") }')
    //-   .cover(ng-click='toggleDrawer("database")')
    //-   a Neo4j
    //-     .logo(fancy-logo ng-class='{loading: currentFrame.isLoading}')
    //-       .ball.one
    //-       .ball.two
    //-       .ball.three
    li.nav-header(ng-class='{active: showingDrawer("database") }')
      a.database.sl.sl-database(ng-click='toggleDrawer("database")')
    li(ng-class='{active: showingDrawer("scripts") }')
      a.favorites.sl.sl-star(ng-click='toggleDrawer("scripts")')
    li(ng-class='{active: showingDrawer("info") }')
      a.guides.sl.sl-book(ng-click='toggleDrawer("info")')
  ul.nav.bottom
    li.nav-user(ng-class='{active: showingDrawer("profile") }')
      a.cloud(ng-click='toggleDrawer("profile")')
        .avatar(ng-style='{"background-image": "url("+currentUser.picture+")"}', ng-if='currentUser.picture') &nbsp;
        i.sl.sl-cloud(style="")
    li(ng-class='{active: showingDrawer("preferences") }', tooltip='Preferences', tooltip-placement='top')
      a.preferences.sl.sl-setting-gear(ng-click='toggleDrawer("preferences")')    
    li(ng-class='{active: showingDrawer("credits") }')
      a.credits(ng-click='toggleDrawer("credits")') &#64;
