p
  | {{planStatistics(frame)}}
.actions.status-bar-actions
  a.button.sl.sl-double-up(ng-click="toggleExpanded(false)", tooltip='Collapse all', tooltip-placement='left')
  a.button.sl.sl-double-down(ng-click="toggleExpanded(true)", tooltip='Expand all', tooltip-placement='left')
  a.button(help-topic='query plan', tooltip='Help topic', tooltip-placement='left')
