.token.token-label(ng-repeat="role in listOfAssignedRoles()")
  | {{ role }}
  a.sl.sl-minus-circle(ng-click="removeRole(role)", tooltip="Remove")
.select
  select(ng-show="isAddingRole", ng-model="selectedItem", ng-change="appendRole()")
    option(ng-repeat="role in listOfKnownRoles()", value="{{role}}" ) {{role}}
span
  a.sl.sl-add-circle(ng-hide="isAddingRole || listOfKnownRoles().length == 0", ng-click="showRole()", tooltip="Add")
