.inspector-footer {
	margin-top: 6px;
	font-size: 12px;
	width: 100%;
	white-space: normal;
}

.inspector-footer .row-toggle {
	float: right;
	display: block;
	width: 21px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	cursor: pointer;
	display: none;
}

.inspector-footer .actions {
	absolute: right 0px;
	top: 3px;
}

.inspector-footer.contracted {
	max-height: 21px;
	overflow: hidden;
}

.inspector-footer .inspector-footer-row {
	line-height: 21px;
}

.inspector-footer .inspector-footer-row > ul {
  list-style: none;
	word-break: break-word;
	margin-top: -3px;
	line-height: 21px;
}

.inspector-footer .inspector-footer-row > ul li {
	vertical-align: middle;
}

.inspector-footer .inspector-footer-row > ul li.pair {
	font-size: 13px;
}

.inspector-footer .inspector-footer-row > ul .key {
	float: left;
	font-weight: 800;
}

.inspector-footer .inspector-footer-row > ul .value {
	padding-left: 3px;
	overflow: hidden;
	float: left;
	white-space: pre-wrap;
}

.inspector-footer .inspector-footer-row > ul .inspector-icon .fa {
	margin-right: 5px;
	margin-left: 3px;
}

.token {
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  user-select: none;
  font-size: 12px;
  margin-right: 5px;
  cursor: pointer;
}
.token.token-label {
  padding: 4px 7px 4px 9px;
  border-radius: 20px;
}
.token.token-relationship-type {
  padding: 4px 7px 4px 5px;
  border-radius: 3px;
}
.token.token-property-key {
  padding: 3px 5px 3px 5px;
}
.token.token-context-menu-key {
  color: #f9fbfd;
  background-color: #d2d5da;
  font-family: FontAwesome;
  padding: 4px 9px;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.status-bar-wrapper {
  height: 68px;
  display: none;
}
.status-bar {
  min-height: 39px;
  line-height:  39px;
  color: #788185;
  font-size: 13px;
  position: relative;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1px solid #e6e9ef;
}
.status-bar .btn-group {
  absolute: top 3px right 12px;
}
.status-bar .icon-warning-sign {
  font-size: 18px;
}
.status-bar .status {
  position: relative;
  float: left;
  padding-left: 16px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
.status-bar .status,
.status-bar .status .inspector-footer-row {
  margin-top: 3px;
}
.status-bar .status .status-bar-actions {
  absolute: right 0px;
  top: -1px;
}
.status-bar .status p {
  line-height: 36px;
  margin: 0;
}

.legend {
  display: table-row;
}

.legend .token .count {
  font-weight: normal;
}

.legend ul {
  padding: 7px 9px 0px 10px;
}
.legend ul > li {
  display: inline-block;
  margin-bottom: 3px;
}

.legend ul > li .contents {
  float: left;
  line-height: 1em;
  position: relative;
  top: 3px;
  top: -1px;
}

.grass-editor {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #D2D5DA;
  min-width: 0;
}

.grass-editor-card {
  margin: 10px;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
}

.picker li a {
	background-color: #aaa;
	display: inline-block;
	height: 12px;
	width: 12px;
	margin-top: 1px;
	line-height: 0;
	opacity: 0.4;
}

.color-picker li {
	padding-right: 5px;
}

.color-picker li a {
border-radius: 50%;
}

.icon-picker li a {
	background: #fff;
	font-size: 24px;
	line-height: 24px;
}
.size-picker li {
	border-radius: 5px;
}

.size-picker li a {
	border-radius: 50%;
}

.width-picker li {
	padding-right: 5px;
}
