#editor {
  background-color: white;
  border-bottom: 1px solid black;
}

/*
  GLOBAL
*/

.hidden {
  display: none;
}

.left {
  float:left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.checkbox-button {
  border: 1px solid black;
  margin: 5px 0 5px 0;
  padding: 3px;
  cursor: pointer;
}
.checkbox-button.checked {
  box-shadow: inset 0px 0px 8px -2px #000
}
.checkbox-button input {
  display: none
}

pre {
  max-width: 100%;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  overflow: auto;
}
.carousel-container {
  display: flex;
}
.left-button, .right-button, .carousel {
  order: 1;
}
.left-button, .right-button {
  order: 1;
  top: 30px
}
