#wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#cypherTabs {
  flex: 0;
  display: flex;
  flex-direction: row;
}

#sidebar {
  flex: 0;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
}
.nav ul {
  width: 70px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}
.nav ul li {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  text-align: center;
  flex: 0 0 70px;
  cursor: pointer;
  line-height: 75px;
}
#sidebar .nav ul li.open {
  background-color: #666
}
#sidebar .tab {
  flex: 0 0 200px;
  width: 200px;
  background-color: #666
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  min-width: 0;
}
#main #editor {
  background-color: white;
  border-bottom: 1px solid black;
}
#main #stream {
  overflow: auto;
  flex: 0 1 100vh;
  display: flex;
  flex-direction: column;
}

#stream .stream-filter {
  margin: 10px 0 10px 10px;
  flex: none;
}

#stream .frame {
  margin: 10px 10px 10px 10px;
  border: 1px solid grey;
  flex: 1;
}

.frame .frame-titlebar {
  flex: none;
  color: #ccc;
  border-bottom: 1px solid #ddd;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.frame .frame-titlebar .frame-command {
  margin: 3px 5px 3px 5px;
  flex: 1 1 auto;
  min-width: 0;
}
.frame .frame-titlebar .frame-titlebar-cmd {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 30px;
  cursor: pointer;
  display: block;
}
.frame .frame-titlebar .frame-action-buttons {
  flex: 0 0 auto;
  line-height: 30px;
}
.frame .frame-action-button {
  display: inline;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-left: 1px solid #ccc;
  text-align: center;
  line-height: 30px;
}
.frame .frame-action-button:hover {
  color: #000
}
.frame .frame-contents {
  padding: 20px;
  flex: 0 1 auto;
}
.frame .history-list {
  list-style: none;
}
.frame .history-list  li {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.frame .history-list  li:hover {
  background-color: #ddd
}

/*
  GLOBAL
*/

.hidden {
  display: none;
}

.left {
  float:left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.checkbox-button {
  border: 1px solid black;
  margin: 5px 0 5px 0;
  padding: 3px;
  cursor: pointer;
}
.checkbox-button.checked {
  box-shadow: inset 0px 0px 8px -2px #000
}
.checkbox-button input {
  display: none
}

pre {
  max-width: 100%;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  overflow: auto;
}
