article.guide
  .container-fluid
    .row
      .col-sm-2
        .box-max
          img.img-responsive(src='images/neo4j-world.png')
          p.lead.text-right BETA PROGRAMME
          p.lead.text-right Copyright &copy;
            a.no-icon(href='http://neo4j.com/')  Neo Technology
            | &nbsp;2002–
            span= new Date().getFullYear()

      .col-sm-10
        .teaser.teaser-2
          h3 Features for 3.1
          p.lead Have a peek at some of the exciting new things in the Neo4j Browser
          .icon-holder
            .icon.sl.sl-star.green.icon
            ul.topic-bullets
              li
                | Running a Causal Cluster? Connect to different server members&nbsp;
                a(exec-topic='sysinfo') here
              li
                | View running&nbsp;
                a(exec-topic='queries') queries
              li
                | Execute queries even faster with&nbsp;
                a(help-topic='param') param
                |  support
              li
                | Explore the new&nbsp;
                a(exec-topic='server user list') user administration
                |  frames
              li
                | Take a look your data with the&nbsp;
                a(exec-topic='CALL db.schema()') schema viewer

            button.btn.btn-cta-beta(ng-click="editor.execScript(settings.initCmd)") Continue
            .clearfix
        .teaser.teaser-2
          h3 Feedback wanted
          p.lead If you notice anything unusual (or amazing!) let us know.
          .icon-holder
            .icon.sl.sl-bubble-conversation.green.icon
            ul.topic-bullets
              li
                | Send us an&nbsp;
                a(href="mailto:browser@neotechnology.com?subject=Neo4j Browser pre-release feedback") email
              li
                | Join our community on&nbsp
                a(href="http://neo4j.com/slack") Slack
              li
                | Raise an issue on&nbsp
                a(href="http://github.com/neo4j") Github
              li
                | Or sign in to Neo4j Browser Sync and send us a message via the settings drawer:
            button.btn.btn-cta(play-topic="neo4j-sync") Neo4j Browser Sync
            .clearfix
