article.guide
  .container-fluid
    .row
      .col-sm-3
        .box-max
          img.img-responsive(src='images/neo4j-world.png')
          p.lead.text-center BROWSER
      .col-sm-7.col-sm-offset-1
        h3 Welcome to Neo4j
        p &nbsp;
