<div id="login-container">
  <form ng-submit="submit()">
    <fieldset>
      <input type="text" name="user" ng-model="user" ng-disabled="loading" />
      <br>
      <input type="password" name="pass" ng-model="pass" ng-disabled="loading" />
      <br>
      <button type="submit" ng-disabled="loading">submit</button>
    </fieldset>
  </form>

  <!-- <a href="" ng-click="reset()">Reset</a> -->

  <div id="login-container">
    <a href="" ng-click="doGoogleAuthWithPopup()">Login with Google</a><br/>
  </div>
</div>
