.editor-container {
  display: flex;
  flex-direction: row;
  align-items: middle;
  min-height: 70px;
  overflow: hidden;
}

.editor-wrapper {
  flex: auto;
  padding: 19px 12px 15px 12px;
  background-color: #efeff4;
}

.action-buttons {
  flex: 0 0 130px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: #efeff4 !important;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
}

.editor {
  font-family: Monaco,"Courier New",Terminal,monospace;
}

.gutter-warning {
  color: #FFA500 !important;
  opacity: .6;
  font-size: 14px;
  line-height: 23px;
  display: inherit;
  cursor: pointer
}
