/* ABK: for reference only */
/*.slide-content {
  font-size: 18px;
  font-weight: 300;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 2em;
}*/

.slide-content:after {
  content: '';
  display: table;
  clear: both;
}

/*.slide-content code,
.slide-content .code
.slide-content kbd,
.slide-content pre,
.slide-content samp {
  font-family: "Fira Code", "Monaco", "Lucida Console", Courier, monospace;
}*/

/*.slide-content code,
.slide-content .code
.slide-content kbd,
.slide-content pre,
.slide-content samp {
  background: #f3f3f3;
  padding-left: 0.25em;
  padding-right: 0.25em;
}*/

/*.slide-content pre.code {
  background: #f3f3f3;
  cursor: pointer;
  border: 2px dashed #e1e1e8;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}*/

/*.slide-content pre.code.clicked {
  background: orange;
  border: 2px solid #8DD465;
  opacity: .5;
}*/
/*
.slide-content .italic {
  font-style: italic; }

.slide-content .light {
  font-weight: 300; }

.slide-content .semi-bold {
  font-weight: 600; }

.slide-content .bold {
  font-weight: 700; }

.slide-content .extra-bold {
  font-weight: 800; }

.slide-content small,
.slide-content .small,
.slide-content .btn--s {
  font-size: 0.8em;
}

.slide-content .caps {
  font-variant: small-caps; }

.slide-content .muted {
  opacity: .7; }*/

/*.slide-content h1,
.slide-content h2,
.slide-content h3,
.slide-content h4,
.slide-content h5,
.slide-content h6 {
  line-height: 0.9em;
  margin: 0 0 0.25em;
  font-weight: 400;
}

.slide-content h1,
.slide-content .h1 {
  font-size: 2.441em; }
.slide-content h2,
.slide-content .h2 {
  font-size: 1.953em; }
.slide-content h3,
.slide-content .h3 {
  font-size: 1.563em; }
.slide-content h4,
.slide-content .h4 {
  font-size: 1.25em; }
.slide-content h5,
.slide-content .h5 {
  font-size: 1em; }
.slide-content h6,
.slide-content .h6 {
  font-size: 0.8em; }*/
/*
.slide-content h1.vtop,
.slide-content .h1.vtop {

}
.slide-content h2.vtop,
.slide-content .h2.vtop {
  margin-top: 0.2em;
  margin-bottom: 0.35em;}
.slide-content h3.vtop,
.slide-content .h3.vtop {
  margin-top: 0.48em;
  margin-bottom: 0.4em; }
.slide-content h4.vtop,
.slide-content .h4.vtop {
  margin-top: 0.8em;
  margin-bottom: 0.55em; }
.slide-content h5.vtop,
.slide-content .h5.vtop {
  margin-top: 1.2em;
  margin-bottom: 0.7em;}
.slide-content h6.vtop,
.slide-content .h6.vtop {
  margin-top: 1.75em;
  margin-bottom: 0.9em; }*/

/*.slide-content p {
  margin-bottom: 1em;
}

.slide-content p.lead {
  color: #666;
}*/
/*
.slide-content ul, .slide-content ol {
  list-style-position: outside;
  padding-left: 1em;
  margin-top: 0.5em;
}

.slide-content ul.big {
  font-size: 1.25em;
  line-height: 2em;
}

.slide-content ul.vtop {
    margin-top: 0;
}*/

/* icon sizes */
/*.slide-content .icon.icon-sm {
  font-size: 0.5em;
}
.slide-content .icon.icon-2x {
  font-size: 2em;
}
.slide-content .icon.icon-3x {
  font-size: 3em;
}
.slide-content .icon.icon-4x {
  font-size: 4em;
}*/

.slide-content .btn {
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  color: #333;
  text-decoration: none;
  text-align: center;
  background: transparent;
}

.slide-content .btn--fullwidth {
  width: 100%;
}

.slide-content .btn:hover,
.slide-content .btn:focus,
.slide-content .btn:active {
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
}

.slide-content .btn--link {
  border-color: transparent;
  color: #3498db;
}
.btn--link:hover {
  background-color: transparent;
  color: #1d6fa5;
}

.slide-content .btn--blue {
  border-color: #2791d9;
  background-color: #3498db;
  color: #fff;
}

.slide-content .btn--blue:hover,
.slide-content .btn--blue:focus,
.slide-content .btn--blue:active {
  color: #fff;
  background-color: #217dbb;
}

.slide-content .btn--green {
  border-color: #22a978;
  background-color: #25ba84;
  color: #fff;
}
.slide-content .btn--green:hover,
.slide-content .btn--green:focus,
.slide-content .btn--green:active {
  color: #fff;
  background-color: #1d8f66;
}

.slide-content .btn--gray {
  border-color: rgba(59, 59, 59, 0.99);
  background-color: rgba(72, 72, 72, 0.99);
  color: #fff;
}

.slide-content .btn--gray:hover,
.slide-content .btn--gray:focus,
.slide-content .btn--gray:active {
  color: #fff;
  background-color: rgba(47, 47, 47, 0.99);
}

.slide-content .btn--red {
  border-color: #e43725;
  background-color: #e74c3c;
  color: #fff;
}
.slide-content .btn--red:hover,
.slide-content .btn--red:focus,
.slide-content .btn--red:active {
  color: #fff;
  background-color: #d62c1a;
}

.slide-content .btn--s {
  padding: 0.5rem;
}

/* media objects, see http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.slide-content .media {
  padding: 0.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slide-content .media .media-figure {
  margin-right: 1em;
}

.slide-content .media .media-body {
  -ms-flex: 1 0 0;
  flex: 1 0 0;
}

.slide-content .border--rounded,
.slide-content .btn {
  border-radius: 4px;
}

.slide-content .btn--cta {
}

/*
  Modified copy of colors.css
  COLORS
  Better default colors for the web

*/
/*

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/*

   SKINS
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/
/* Backgrounds */
.slide-content .bg-navy {
  background-color: #001f3f;
}
.slide-content .bg-blue {
  background-color: #0074d9;
}
.slide-content .bg-aqua {
  background-color: #7fdbff;
}
.slide-content .bg-teal {
  background-color: #39cccc;
}
.slide-content .bg-olive {
  background-color: #3d9970;
}
.slide-content .bg-green {
  background-color: #2ecc40;
}
.slide-content .bg-lime {
  background-color: #01ff70;
}
.slide-content .bg-yellow {
  background-color: #ffdc00;
}
.slide-content .bg-orange {
  background-color: #ff851b;
}
.slide-content .bg-red {
  background-color: #ff4136;
}
.slide-content .bg-fuchsia {
  background-color: #f012be;
}
.slide-content .bg-purple {
  background-color: #b10dc9;
}
.slide-content .bg-maroon {
  background-color: #85144b;
}
.slide-content .bg-white {
  background-color: #ffffff;
}
.slide-content .bg-gray {
  background-color: #aaaaaa;
}
.slide-content .bg-silver {
  background-color: #dddddd;
}
.slide-content .bg-black {
  background-color: #111111;
}
/* Colors */
.slide-content .navy {
  color: #001f3f;
}
.slide-content .blue {
  color: #0074d9;
}
.slide-content .aqua {
  color: #7fdbff;
}
.slide-content .teal {
  color: #39cccc;
}
.slide-content .olive {
  color: #3d9970;
}
.slide-content .green {
  color: #2ecc40;
}
.slide-content .lime {
  color: #01ff70;
}
.slide-content .yellow {
  color: #ffdc00;
}
.slide-content .orange {
  color: #ff851b;
}
.slide-content .red {
  color: #ff4136;
}
.slide-content .fuchsia {
  color: #f012be;
}
.slide-content .purple {
  color: #b10dc9;
}
.slide-content .maroon {
  color: #85144b;
}
.slide-content .white {
  color: #ffffff;
}
.slide-content .silver {
  color: #dddddd;
}
.slide-content .gray {
  color: #aaaaaa;
}
.slide-content .black {
  color: #111111;
}
/* Border colors

   Use with another border utility that sets border-width and style
   i.e .border { border-width: 1px); border-style: solid); }
*/
.slide-content .border--blue {
  border: 1px solid #0074d9;
}
.slide-content .border--green {
  border: 1px solid #2ecc40;
}
.slide-content .border--yellow {
  border: thin solid #ffdc00;
}
.slide-content .border--orange {
  border: thin solid #ff851b;
}
.slide-content .border--red {
  border: thin solid #ff4136;
}
.slide-content .border--white {
  border: thin solid #ffffff;
}
.slide-content .border--off-white {
  border: thin solid #fafafa;
}
.slide-content .border--light-gray {
  border: thin solid #d8d8d8;
}
.slide-content .border--mid-gray {
  border: thin solid #909090;
}
.slide-content .border--dark-gray {
  border: thin solid #484848;
}
.slide-content .border--black {
  border: thin solid #111111;
}
/* Fills for SVG */
.slide-content .fill-navy {
  fill: #001f3f;
}
.slide-content .fill-blue {
  fill: #0074d9;
}
.slide-content .fill-aqua {
  fill: #7fdbff;
}
.slide-content .fill-teal {
  fill: #39cccc;
}
.slide-content .fill-olive {
  fill: #3d9970;
}
.slide-content .fill-green {
  fill: #2ecc40;
}
.slide-content .fill-lime {
  fill: #01ff70;
}
.slide-content .fill-yellow {
  fill: #ffdc00;
}
.slide-content .fill-orange {
  fill: #ff851b;
}
.slide-content .fill-red {
  fill: #ff4136;
}
.slide-content .fill-fuchsia {
  fill: #f012be;
}
.slide-content .fill-purple {
  fill: #b10dc9;
}
.slide-content .fill-maroon {
  fill: #85144b;
}
.slide-content .fill-white {
  fill: #ffffff;
}
.slide-content .fill-gray {
  fill: #aaaaaa;
}
.slide-content .fill-silver {
  fill: #dddddd;
}
.slide-content .fill-black {
  fill: #111111;
}
/* Strokes for SVG */
.slide-content .stroke-navy {
  stroke: #001f3f;
}
.slide-content .stroke-blue {
  stroke: #0074d9;
}
.slide-content .stroke-aqua {
  stroke: #7fdbff;
}
.slide-content .stroke-teal {
  stroke: #39cccc;
}
.slide-content .stroke-olive {
  stroke: #3d9970;
}
.slide-content .stroke-green {
  stroke: #2ecc40;
}
.slide-content .stroke-lime {
  stroke: #01ff70;
}
.slide-content .stroke-yellow {
  stroke: #ffdc00;
}
.slide-content .stroke-orange {
  stroke: #ff851b;
}
.slide-content .stroke-red {
  stroke: #ff4136;
}
.slide-content .stroke-fuchsia {
  stroke: #f012be;
}
.slide-content .stroke-purple {
  stroke: #b10dc9;
}
.slide-content .stroke-maroon {
  stroke: #85144b;
}
.slide-content .stroke-white {
  stroke: #ffffff;
}
.slide-content .stroke-gray {
  stroke: #aaaaaa;
}
.slide-content .stroke-silver {
  stroke: #dddddd;
}
.slide-content .stroke-black {
  stroke: #111111;
}

.slide-content .hero-unit {
  padding: 1em 60px;
  margin-top: 1em;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
