.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font: 13px  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;

  & .app {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    & .top-banner {
      flex: 0 0 60px;
      background-color: #4C4957;
      & .bookmark-chooser {
        color: #eee;
        background-color: #30333A;
        height: 100%;
        width: 200px;
        font-size: 16px;
        line-height: 55px;
        text-align: center;
      }
    }

    & .body {
      flex: auto;
      display: flex;
      flex-direction: row;
      & .left-nav {
        flex: 0 0 200px;
        background-color: #4C4957;
        color: #eee;
        list-style: none;
        & li {
          font-size: 14px;
          height: 40px;
          margin: 0;
          padding: 10px;
          cursor: pointer;
          line-height: 45px;
          &.active-left-nav {
            background-color: #30333A;
          }
          &:hover {
            color: #fff;
          }
          &.menu-separator {
            height: 1px !important;
            padding: 0;
            border-bottom: 1px solid #5d6370;
            width: 100%;
            display: block;
          }
        }
      }

      & .main-content {
        flex: auto;
        background-color: #D2D5DA;
        overflow: auto;
        padding: 0 24px;
      }
    }
  }
}
