@import 'variables'
@import 'nib'
@import 'mixins'

// swatch-a-background-color = #262626
// primary-text = #ebebeb
// swatch-b-background-color = #595959
// swatch-b-text-color = palette-b
// swatch-c-background-color = #383838
// swatch-c-text-color = palette-b

palette-a = #E17818
palette-b = #f4f4f4
palette-c = #6A1D18
palette-d = #230305
palette-e = #292e3a
palette-f = #DED6B6
palette-g = #F4E2B5
palette-h = #D2D2D2
palette-i = #000000

swatch-a-background-color = palette-a
swatch-a-text-color = palette-b
swatch-b-background-color = palette-c
swatch-b-text-color = palette-b
swatch-c-background-color = palette-d
swatch-c-text-color = palette-b
swatch-c-background-hover = palette-e
swatch-c-text-hover = palette-b
swatch-d-background-color = palette-g
swatch-d-text-color = palette-d
swatch-d-border-color = palette-c
swatch-e-background-color = palette-f
swatch-e-text-color = palette-i
swatch-e-border-color = palette-h

color-link = swatch-a-text-color
color-link-hover = swatch-c-text-hover
code-text-color = swatch-e-text-color
code-background-color = swatch-e-background-color
drawer-color-fg = palette-f
drawer-color-bg = swatch-b-background-color
navbar-color-bg = swatch-c-background-color
navbar-color-bg-active = swatch-b-background-color
frame-background-color = swatch-d-background-color
frame-text-color = swatch-d-text-color

body.theme-autumnal
  font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif
  background: swatch-a-background-color
  color: swatch-a-text-color

  a
    color: color-link
    &:hover
      color: color-link-hover
      text-decoration: none


  #incompatible
    background-color: #fff

  .table > tbody
    background-color: swatch-d-background-color
    color: swatch-d-text-color
    tr
      th, td
        border-color: swatch-d-border-color

  table.json-object
    background-color: #eee;
    tbody
      tr
        background-color: transparent;
        td, th
          color: #666;

  .status-bar-wrapper
    display: none
  .status-bar
    color: swatch-d-text-color
    background-color: swatch-d-background-color
    border-color: swatch-d-border-color

    .status

    .popover.bottom
      .arrow:after
        border-bottom-color: #f7f7f7
    .details
      margin-top: -4px
      margin-left: 12px
    .updated-code
      float:right
      margin-right horizontal-padding
    &.error
      color: color-error
    .fa-ok
      color: color-success

  .fullscreen-container
    background-color: swatch-b-background-color
    .code-bar
      // darkened
      background-color: swatch-b-background-color
      .actions
        display: none
      a.close-fullscreen
        color: #9B9DA2
    a.fa-download
      color: #9B9DA2
    .result
      background-color: #F8F9FB

  .key.code
    color: #eee

  //
  // Bootstrap overrides
  //////////////////////

  .navbar-inverse .navbar-inner
    background: linear-gradient(top, #333, #181818)

  .navbar .brand
    color: #fff

  /////
  .bg-warning
    background-color: #635c36

  #error
    background-color: color-error
    color: #fff
  .connection-error
    #error
      display: block

  #stream
    .frame
      .view-result
        .view-result-graph, .view-result-table
          background-color: frame-background-color
          color: frame-text-color

      .code-bar
        .code
          color: swatch-b-text-color
        background-color: swatch-b-background-color

      .inner .view-result .view-result-table .table-holder, table.data tbody tr
        background-color: inherit

  #main
    background-color: swatch-a-background-color

    code
      color: code-text-color
      background-color: code-background-color

    .admin, .view-result
      [exec-topic], [help-topic], [play-topic]
        color: code-text-color
        background-color: code-background-color

    .hero-unit
      background-color: swatch-c-background-color

    article.guide, article.help, article.guide, pre, article.admin
      color: frame-text-color
      background-color: frame-background-color
      // p
      //   color: swatch-b-text-color
      pre.code
        color: swatch-c-text-color
        background-color: swatch-c-background-color
        &:hover
          background-color: swatch-c-background-hover
          color: swatch-c-text-hover

    .intro
      background: url(../images/intro.png) 50% 48% no-repeat

    .view-editor
      background-color: swatch-b-background-color
      z-index: -1

    footer
      color: #A0AAB1


  #nav
    background: navbar-color-bg
    li.active, li.active > a
      background: navbar-color-bg-active

  #drawer
    color: drawer-color-fg
    background-color: drawer-color-bg
    ul, ul li
      background-color: drawer-color-bg

  // CodeMirror overrides
  .CodeMirror
    z-index: 2
    &.cm-s-neo, &.cm-s-css
      color: red
      .cm-comment
        color: #C0C4CA
      .cm-keyword, .cm-property
        color: #3498DB
      .cm-atom, .cm-number
        color: #9B59B6
      .cm-node, .cm-tag
        color: #E74C3C
      .cm-string
        color: #E67E22
      .cm-variable, .cm-qualifier
        color: #1ABC9C
  #editor
    ul.controls
      a.circled
        color: #858585
        &.active
          color: #cecece
          &.play
            &:hover
              color: #cecece
          &.favorites
            &.enabled, &.enabled:hover
              color: color-favorites
            &.changed
              color: color-favorites
            &:hover
              color: #cecece
          &.delete
            &:hover
              color: #cecece
    .CodeMirror
      background-color: swatch-c-background-color
      pre
        background-color: swatch-c-background-color
        z-index: -1
      .CodeMirror-placeholder
        color: #E0E2E6
      .CodeMirror-lines
      .CodeMirror-gutters
      .CodeMirror-linenumber
        color: swatch-a-text-color
      .CodeMirror-code
        color: swatch-a-text-color
      div.CodeMirror-cursor
        border-left: 11px solid yellow
        opacity: 0.5
    .prompt
      color: swatch-a-text-color
    .disable-highlighting
      .CodeMirror .CodeMirror-code *
        color: swatch-a-text-color
  div.CodeMirror-selected
    background-color: swatch-a-text-color
    opacity: 0.5
