.badge {
  border-radius: 50%;
  content: attr(data-badge);
  text-align: center;
  width: auto;
  min-width: 18px;
  min-height: 18px;
  padding: 4px;
  position: absolute;
  top: -5px;
  right: -15px;
  z-index: 9999;
}

.small {
  font-size: .6em;
  line-height:11px;
}

.medium {
  font-size: .7em;
  line-height:11px;
}

.ok {
  background-color: #65B144;
  color: white;
  font-weight: bold;
}
.warning {
  background-color: #cc3;
  color: black;
}
.error {
  background-color: #b14465;
  color: white;
}
.neutral {
  background-color: #7B7983;
  color: white;
}
