*.iml
*.ipr
*.iws
*.sw?
*~
.DS_Store
.cache
.cache-main
.cache-main
.cache-main
.cache-tests
.cache-tests
.cache-tests
.classpath
.externalToolBuilders/
.factorypath
.gradle
.gradletasknamecache
.idea
.java-version
.mailmap
.project
.scala_dependencies
.settings
.shell_history
Thumbs.db
\#*
bin/teamcity/
build/
devenv.local
shared/
src/main/_common-and-old/
tags
target/

# node modules
node_modules/
