#wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#sidebar {
  flex: 0;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
}
#sidebar #nav ul {
  width: 70px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}
#sidebar #nav ul li {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  text-align: center;
  flex: 0 0 70px;
  cursor: pointer;
  line-height: 75px;
}
#sidebar #nav ul li.open {
  background-color: #666
}
#sidebar #drawer {
  flex: 0 0 200px;
  width: 200px;
  background-color: #666
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
}
#main #editor {
  flex: 1 0 70px;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid black;
}
#main #stream {
  height: 100%;
  overflow: auto;
  flex: 1;
}



/*
  GLOBAL
*/

.hidden {
  display: none;
}
