div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result.admin
        article.help(ng-controller="UserAdminCreateUserController")
          .container-fluid(ng-if="!unauthorized")
            .col-md-2.summary
              h3 Add user
              p.lead Add a new user to the database
              p.lead
                a(exec-topic="server user list") See user list
              .panel-heading-info-icon
            .col-md-10
              table.table.table-condensed
                tr
                  th.col-md-2 Username
                  th.col-md-3 Role(s)
                  th.col-md-2 Password
                  th.col-md-2 Confirm password
                  th.col-md-2 On first login
                  th.col-md-1
                tr
                  td
                    input(ng-disabled="addingUser", ng-model="user.fields.username", type="text")
                  td
                    div(ng-if="Features.canGetRoles", user-roles ng-model="user.fields")
                    div(ng-if="!Features.canGetRoles") N/A
                  td
                    input(ng-disabled="addingUser", ng-model="user.fields.password", type="password")
                  td
                    input(ng-disabled="addingUser", ng-model="user.fields.passwordConfirmation", type="password")
                  td
                    label Require password change:
                    input(ng-disabled="addingUser", ng-model="user.fields.requirePasswordChange", type="checkbox")
                  td
                    a.sl.sl-arrow-circle-right(ng-hide="addingUser", ng-disabled="!enableSubmit()", ng-click="addNewUser()", tooltip="Save")
          .container-fluid(ng-if="unauthorized")
            .col-md-12
              p Please connect to the server to see this frame

        include partials/error-status-bar-detailed
        include partials/success-status-bar
        include partials/warning-status-bar
