div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result.help.admin
        article(ng-controller="UserAdminController", ng-if="!unauthorized")
          .view-result-table.result.no-min-height
            .table-holder.no-min-height
              include partials/frame-list-users
        article.help(ng-if="unauthorized")
          .container-fluid
            .col-md-12
              p Please connect to the server to see this frame

        include partials/error-status-bar-detailed
        include partials/success-status-bar
