div(ng-controller="QueryStatusCtrl")
  .outer
    include partials/frame-common-actions
    .inner
      .view-result.has-statusbar
        article.scrolling
          .view-result-table
            .table-holder.no-min-height
              .admin.right-padded(ng-hide="isFetching && !autoRefresh")
                table.table.table-condensed.table-margin.table-fixed(ng-show="queries.length")
                  tr
                    th.col-sm-2 Host
                    th.col-sm-1 User
                    th.col-sm-4 Query
                    th.col-sm-1 Params
                    th.col-sm-1 Meta
                    th.col-sm-2 Elapsed time
                    th.col-sm-1 Kill
                  tr(check-overflowing-children, overflow-model="query", ng-repeat="query in queries")
                    td.check-overflow(ng-class="{truncate: !query.expanded}")
                      code(title="{{query.clusterMember.address}}", ng-class="{oneline: !query.expanded}")
                        | {{query.clusterMember.address}}
                    td 
                      span {{query.username}}
                    td.check-overflow(ng-class="{truncate: !query.expanded}")
                      code(title="{{query.query}}", ng-class="{oneline: !query.expanded}")
                        | {{query.query}}
                    td.check-overflow(ng-class="{truncate: !query.expanded}")
                      code(title="{{query.parameters}}", ng-class="{oneline: !query.expanded}")
                        | {{query.parameters}}
                    td.check-overflow(ng-class="{truncate: !query.expanded}")
                      code(title="{{query.metaData}}", ng-class="{oneline: !query.expanded}")
                        | {{query.metaData}}
                    td
                      span {{query.elapsedTime}}
                    td.relative 
                      span 
                        a.sl.sl-minus-circle(ng-hide="query.confirmKill", ng-click='query.confirmKill = true', tooltip="Kill query")
                        a.sl.sl-arrow-circle-right(ng-show="query.confirmKill", ng-click='killQuery(query.clusterMember, query.queryId)', tooltip="Confirm")
                        a.sl.sl-delete-circle(ng-show="query.confirmKill", ng-click="query.confirmKill = false", tooltip="Cancel")
                      .fa.overflow-indicator.hover-pointer(
                        style="position: absolute; right: 2px", 
                        ng-click="query.expanded = !query.expanded",
                        ng-class="{hidden: (!query.expanded && !query.overflows), 'fa-caret-left': !query.expanded, 'fa-caret-down': query.expanded}"
                      )
              .frame-loading(ng-show="isFetching && !autoRefresh")
                span.fa.fa-spinner.fa-spin.fa-2x
              .frame-loading(ng-hide="queries.length || isFetching")
                p No running queries found

          footer.tight(ng-class="{error: hasErrors}")
            .status(ng-show="!isFetching", style="text-align: left;")
              .fa.fa-exclamation-triangle.icon-warning-sign(ng-show="hasErrors")&nbsp;
              p {{statusMessage()}}
            .actions
              .toggle.toggle-footer-margin(ng-click='toggleAutoRefresh()')
                a.toggle-text Auto-refresh
                .switch
                  label
                    .switch-inner(ng-class="{right: autoRefresh}")
                      span.right-text
                        | ON
                      .handle
                      span.left-text
                        | OFF
              a.button.fa.fa-refresh(ng-click="refreshLater()")
