div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result
        article.admin
          .view-result-table.result.no-min-height
            .table-holder.no-min-height
              div(ng-hide="frame.response | isObjectEmpty")
                table.table.table-condensed
                  tr
                    th.col-sm-2 Parameter name
                    th.col-sm-4 Value
                  tr(ng-repeat="(key, value) in frame.response")
                    td 
                      span {{key}}
                    td 
                      span {{value}}
                | Execute&nbsp;  
                a(exec-topic="params {}") :params {}
                | to clear all parameters.
              div(ng-show="frame.response | isObjectEmpty")
                p No parameters set yet. 
                p Read about setting parameters:  
                  a(help-topic="param") :help param
