div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result.admin(ng-hide='frame.hasErrors')
        article(ng-controller="UserAdminController")
          .container-fluid
            section.row
              .col-md-12.col-sm-12
                .panel.panel-default
                  .panel-heading
                    h4 Users
                  include partials/frame-list-users